- Null Hypothesis (H0): There is a no significant difference in average TAT among the laboratories.

- Alternative Hypothesis (H1): There is a significant difference in average TAT among the laboratories.

To determine whether there is any difference in the average Turn Around Time (TAT) among the different laboratories, we can perform a one-way analysis of variance (ANOVA) test. This test is used when we have more than two groups (in this case, four laboratories) and want to compare their means.

In [10]:
import pandas as pd
import scipy.stats as stats

In [11]:
# Load the dataset
data=pd.read_csv('LabTAT.csv')
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [12]:
lab1 = pd.Series(data.iloc[:,0])
lab1 .head()

0    185.35
1    170.49
2    192.77
3    177.33
4    193.41
Name: Laboratory 1, dtype: float64

In [13]:
lab2 = pd.Series(data.iloc[:,1])
lab2 .head()

0    165.53
1    185.91
2    194.92
3    183.00
4    169.57
Name: Laboratory 2, dtype: float64

In [14]:
lab3 = pd.Series(data.iloc[:,2])
lab3 .head()

0    176.70
1    198.45
2    201.23
3    199.61
4    204.63
Name: Laboratory 3, dtype: float64

In [15]:
lab4 = pd.Series(data.iloc[:,3])
lab4 .head()

0    166.13
1    160.79
2    185.18
3    176.42
4    152.60
Name: Laboratory 4, dtype: float64

In [16]:
# Perform one-way ANOVA
f_statistic, p_value = stats.f_oneway(lab1, lab2, lab3, lab4)

# Print results
print(f'F-statistic: {f_statistic}')
print(f'P-value: {p_value}')

# Check significance at 5% level
alpha = 0.05
if p_value < alpha:
    print('Reject the null hypothesis. There is a significant difference in average TAT among the laboratories.')
else:
    print('Fail to reject the null hypothesis. There is no significant difference in average TAT among the laboratories.')

F-statistic: 118.70421654401437
P-value: 2.1156708949992414e-57
Reject the null hypothesis. There is a significant difference in average TAT among the laboratories.

The result of the ANOVA test is 2.115

Since the p-value from the ANOVA test is more than the significance level, We can say that we fail to reject the null hypothesis.